// ### Copyright (c) 2022 Igor Nadiein, Software Developer. (inadiein@gmail.com)
// ### Github https://guthub.com/nadiein
// ### Babel config file, set up to work with typescript and react

{
  "presets": [
    ["@babel/preset-env",{
        "targets": {
          "node": "current"
        }
      }
    ],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "env": {
    "development": {
      "presets": [["@babel/preset-react", { "development": true }]]
    }
  }
}
