.horse-details {
    margin: 0 calc(var(--brand-gap) * 2);
    padding: var(--brand-gap) calc(var(--brand-gap) * 2);
    border: 1px solid var(--grey-light);
    border-top: 0;
    color: var(--grey-lighten);
}

.horse-details--header {
    cursor: pointer;
}

.horse-details--body {
    margin-top: calc(var(--brand-gap) / 2);
    padding: var(--brand-gap) calc(var(--brand-gap) * 2);
    border-top: 1px solid var(--grey-light);

    & > * {

        &:not(:last-child) {
            padding-bottom: calc(var(--brand-gap) / 2);
        }
    }
}
