/* Default paths */
$path_fonts: "../../fonts/";

/* Fonts rules */
$inter: 'Inter', sans-serif;

$preload_font: $flow;
$default_font_family: $inter;
$brand_font_family: $michroma;
$title_font_family: $syncopate;

$default_text_color: $grey_dark;
